*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: #F0F0F0;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Inter-bold"),
    local("Inter"),
    url("/Inter-Black.ttf") format("ttf")
}

body {
  font-family: 'Inter', sans-serif ;
  box-sizing: border-box;
  font-size: 16px;
  color: #F0F0F0;
  margin: 0;
  background-color: #E1E6FF;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 390px;
 
}

.first-slide {
  display: flex;
  width: 380px;
  height: 67px;
  background-image: url('image/0.svg');
  background-size: 380px;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 10px;
}

.item {
  background-size: 380px;
  background-repeat: no-repeat;
  width: 380px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.item-1 {
  background-image: url('image/1.svg');
}



